html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Flama";
  scroll-behavior: smooth;
}

body {
  background: url("../svg/Gruppe\ 4.svg") 1006px -225px no-repeat;
  background-size: 50%;
}

* {
  box-sizing: border-box;
  font-family: "Flama";
  color: var(--textColor);
}

:root {
  --footerColor: #3d3d3b;
  //--content-width: 60em;
  --purple: #981b53;
  --red: #cf0510;
  --red-low: #c95258;
  --cardColor: #d4d3d3;
  --textColor: #46413c;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 55px;
}

li {
  display: inline;
}

h3 {
  font-family: "Flama book";
  font-size: 19px;
  margin: 0;
  color: var(--purple);
}

p {
  margin: 0;
}

.HsrmLogo {
  width: 20%;
}

h1 {
  font-family: "Flama medium";
  font-size: 35px;
  text-transform: uppercase;
  color: var(--red);
  margin: 0;
  padding-bottom: 10px;
}

.icon-size-clock {
  height: 16px;
}

.icon-size-map-marker {
  width: 14px;
}

.icon-size-cards {
  width: 13%;
}

.logo-size {
  max-width: 40%;
}

.blocksatz {
  width: 60em;
  margin-top: 1.5em;
  margin-bottom: 5.5em;
  word-spacing: 5px;
}

.grid-suchleiste {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  .firmenübersicht {
    font-size: 25px;
    justify-content: flex-start;
  }

  .input-grid{
    display:flex;
   
    input{
      border: solid 1px var(--textColor);
      padding: 3px;
    }
    .logo-container{
      padding: 3px;
      border: solid 1px var(--textColor);
      border-left: none;
      img{
        display: block;
      }
    }
  }
}

.MainContainer {
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-left: 15em;
  padding-right: 15em;
}

.cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;

  .card {
    background-color: var(--cardColor);
    padding: 17px;

    .grid {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .left {
        justify-content: flex-start;
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: min-content;
        gap: 0.5em;
        width: 40%;

        p {
          flex-shrink: 0;
        }
      }
    }

    .icon-ausrichtung {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .link {
      margin-bottom: 10px;
      a {
        color: var(--textColor);
      }
    }

    .text {
      margin-bottom: 10px;
    }

    .flex-end {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: flex-end;

      a {
        color: var(--textColor);
      }
    }
  }
}

form {
  max-width: 75%;
  width: 100%;
  .inputs{
    display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 2em 0 1em 0;

      .input-box{
        margin-bottom: 1.5em;
        width: calc(50% - 20px);
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
      .nr-box{
        margin-top: auto;
        margin-bottom: 1.5em;
        width: calc(30% - 40px);
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
      .str-box{
        margin-bottom: 1.5em;
        width: 70%;
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
      .text-box{
        margin-bottom: 1.5em;
        width: 100%;
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
  }
  .inputs>*:first-child{
    width: -moz-available;
  }
  .input-box, .nr-box, .str-box, .text-box{
      label {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
      }
	}
  .input-box ul {
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
    }
  }
  .button {
		height: 45px;
		margin: 35px 0;
    width: calc(100% / 3 - 20px);
		input {
			height: 100%;
			width: 100%;
			border-radius: 8px;
			border: groove;
      border-color: var(--red);
			font-size: 18px;
			font-weight: 650;
			letter-spacing: 1px;
			cursor: pointer;
			transition: all 0.3s ease;
			background: var(--cardColor);
			&:hover {
				background: var(--red-low);
			}
		}
	}
}
.inputs {
	.input-box, .nr-box, .str-box,.text-box{
		input, textarea {
			height: 45px;
			width: 100%;
			outline: none;
			font-size: 16px;
			border-radius: 5px;
			padding-left: 15px;
			border: 1px solid #ccc;
			border-bottom-width: 2px;
			transition: all 0.3s ease;
			&:focus {
				border-color: var(--red-low);
			}
		}
    textarea {
      height: 100px;
    }
	}
}

footer {
  min-height: 100px;
  padding-left: 15em;
  padding-right: 15em;
  padding-top: 1em;
  margin-top: 4em;
  background: var(--footerColor);
  position: relative;
  width: 100%;
  color: white;
  .float {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: grid;
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    .textFooter {
      font-size: small;
    }
    .floatright{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: small;
      a{
        color:white
      }
      
      a :hover{
        color: var(--red);
      }
    }
  }
}

@media (orientation: portrait) {
  form {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .MainContainer {
    max-width: 100%;
    padding-left: 10em;
    padding-right: 10em;
  }
}
@media (max-width: 768px) {
  .MainContainer {
    padding-left: 5em;
    padding-right: 5em;
  }
  form {
    max-width: 100%;
    .inputs {
      overflow-y: scroll;
      .input-box, .nr-box, .str-box, .text-box, .button {
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
  .inputs {
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}