html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Flama";
  scroll-behavior: smooth;
  color: var(--textColor);
}

body {
  position: relative;
  min-height: 100%;
  background: url("../svg/Gruppe\ 6.svg") 1000px 0px no-repeat;
  background-size: 35%;
}

* {
  box-sizing: border-box;
  font-family: "Flama";
}

:root {
  --footerColor: #3d3d3b;
  //--content-width: 60em;
  --purple: #981b53;
  --red: #cf0510;
  --red-low: #c95258;
  --cardColor: #d4d3d3;
  --textColor: #46413c;
}

nav {
  padding: 1.5em;
  margin-bottom: 55px;

  img {
    width: 20%;
  }
}

.MainContainer {
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-left: 15em;
  padding-right: 15em;
  h3 {
    font-family: "Flama book";
    font-size: 19px;
    margin: 0;
    color: var(--purple);
  }
  p {
    margin: 0;
  }

  h1 {
    font-family: "Flama light";
    font-size: 50px;
    text-transform: uppercase;
    color: var(--red);
    margin: 0;
    padding-bottom: 10px;
  }

  .icon-size-clock {
    height: 16px;
  }

  .icon-size-map-marker {
    width: 14px;
  }

  .icon-size-cards {
    width: 20px;
  }

  .blocksatz {
    max-width: 60em;
    margin-top: 1.5em;
    margin-bottom: 5.5em;
    word-spacing: 5px;
  }
}

.grid-suchleiste {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  .firmenübersicht {
    font-size: 25px;
    color: var(--purple);
    font-family: "Flama book";
  }

  .input-grid {
    display: flex;
    width: fit-content;

    &:hover {
      box-shadow: 0px 10px 13px -7px #000000,
        0px -6px 5px -4px rgba(0, 0, 0, 0.06);
    }

    input {
      position: relative;
      display: inline-block;
      border: solid 2px var(--purple);
      color: var(--textColor);
      padding: 3px;
    }

    .lupe-container {
      padding: 3px;
      border: solid 1px var(--textColor);
      border-left: none;
      background-color: var(--purple);
      img {
        display: block;
      }
    }
  }
}

.cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;

  .card {
    background-color: var(--cardColor);
    padding: 17px;
    .grid {
      display: flex;
      margin-bottom: 10px;

      .left {
        margin-right: auto;
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: min-content;
        gap: 0.5em;
        width: 40%;

        p {
          flex-shrink: 0;
        }
      }
    }

    .icon-ausrichtung {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .link {
      margin-bottom: 10px;
      a {
        color: var(--textColor);
      }
      a:hover {
        color: var(--purple);
      }
    }

    .text {
      margin-bottom: 10px;
    }

    .flex-end {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: flex-end;

      a {
        color: var(--textColor);
      }

      a :hover {
        color: var(--purple);
      }
    }
  }
}

form {
  max-width: 75%;
  width: 100%;
  .inputs{
    display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 2em 0 1em 0;

      .input-box{
        margin-bottom: 1.5em;
        width: calc(50% - 20px);
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
      .nr-box{
        margin-top: auto;
        margin-bottom: 1.5em;
        width: calc(30% - 40px);
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
      .str-box{
        margin-bottom: 1.5em;
        width: 70%;
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
      .text-box{
        margin-bottom: 1.5em;
        width: 100%;
        .req{
          display: flex;
          p{
            margin-right: 0.5em;
            margin-bottom: -100%;
            color: var(--red);
            font-size: x-large;
          }
        }
      }
  }
  .inputs>*:first-child{
    width: -moz-available;
  }
  .input-box, .nr-box, .str-box, .text-box{
      label {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
      }
	}
  .input-box ul {
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
    }
  }
  .button {
		height: 45px;
		margin: 35px 0;
    width: calc(100% / 3 - 20px);
		input {
			height: 100%;
			width: 100%;
			border-radius: 8px;
			border: groove;
      border-color: var(--red);
			font-size: 18px;
			font-weight: 650;
			letter-spacing: 1px;
			cursor: pointer;
			transition: all 0.3s ease;
			background: var(--cardColor);
			&:hover {
				background: var(--red-low);
			}
		}
	}
}
.inputs {
	.input-box, .nr-box, .str-box,.text-box{
		input, textarea {
			height: 45px;
			width: 100%;
			outline: none;
			font-size: 16px;
			border-radius: 5px;
			padding-left: 15px;
			border: 1px solid #ccc;
			border-bottom-width: 2px;
			transition: all 0.3s ease;
			&:focus {
				border-color: var(--red-low);
			}
		}
    textarea {
      height: 100px;
    }
	}
}

footer {
  min-height: 100px;
  padding-left: 15em;
  padding-right: 15em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 4em;
  background: var(--footerColor);
  position: relative;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;

  .textFooter {
    font-size: small;
  }

  .buttonandImpressum {
    .button {
      height: 20px;
      margin-bottom: 5px;
      width: 100%; 
      border-radius: 8px;
      font-size: 10px;
      font-weight: 650;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.3s ease;
      background: var(--cardColor);

      &:hover {
        background-color: var(--red-low);
      }
    }

    .floatright {
      display: flex;
      align-items: center;
      width: 100%;
      height: max-content;
      font-size: small;
      width: min-content;
      a {
        text-decoration: underline;
        color: white;

        &:hover {
          color: var(--red);
        }
      }
    }
  }
}

//Julias Part an SCSS bzw. Detailuebersichtsseite

.kastenHintergrund {
  padding: 2.5em;
  border-radius: 1em;
  border-width: 6px;
  border-color: var(--red-low);
  border-style: hidden double hidden double;

  .kastenFlext {
    display: flex;
    justify-content: space-between;
  }
}

h4 {
  font-family: "Flama book";
  font-size: 15px;
  margin: 0;
  color: black;
  .frage1 {
    margin: 0%;
  }
}

.infosundkontakt {
  display: flex;
  gap: 5em;
  height: min-content;
}

.firmenInfos {
  justify-content: flex-end;
  display: grid;
  margin: 4em 0 2em 0;
  height: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "frage1 antwort1 antwort1"
    "frage2 antwort2 antwort2"
    "frage3 antwort3 antwort3"
    "frage4 frage4 frage4"
    "antwort4 antwort4 antwort4";

  .frage1 {
    grid-area: frage1;
  }

  .antwort1 {
    grid-area: antwort1;
  }

  .frage2 {
    grid-area: frage2;
  }

  .antwort2 {
    grid-area: antwort2;
    overflow: hidden;
  }

  .frage3 {
    grid-area: frage3;
  }

  .antwort3 {
    grid-area: antwort3;
    overflow: hidden;
  }

  .frage4 {
    grid-area: frage4;
    height: 1em;
  }

  .antwort4 {
    grid-area: antwort4;
    text-align: justify;
    overflow: hidden;
  }
}

.kontakt {
  margin-top: 4em;
  margin-bottom: 2em;
  height: max-content;
  img {
    width: 10em;
    margin-bottom: 2em;
  }

  .kdaten {
    text-align: center;
  }
}

.emailundwebsitelink {
  display: flex;
  justify-content: space-between;

  .kemail {
    font-family: "Flama book";
    a {
      color: var(--textColor);
      font-family: "Flama book";
    }
    a:hover {
      color: var(--purple);
    }
  }

  .webseitelink {
    a {
      font-family: "Flama book";
      font-size: 15px;
      margin: 0;
      color: var(--purple);
    }
  }
}

//Media Queries

@media screen and (min-width: 947px) and (max-width: 1240px) {
  .MainContainer {
    padding-left: 7em;
    padding-right: 7em;
    .icon-size-cards {
      width: 18px;
    }

    .blocksatz {
      font-size: 15px;
    }
  }

  footer {
    padding-left: 7em;
    padding-right: 7em;
  }

  .card {
    padding: 10px;
    font-size: 15px;
  }

  .kastenHintergrund {
    border-style: none;
    h1 {
      font-size: 3em;
    }
    .infosundkontakt {
      display: block;
      .kontakt {
        display: flex;
        align-items: center;
        img {
          margin-right: 2em;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 633px) and (max-width: 947px) {
  nav {
    margin-bottom: 20px;
  }

  .MainContainer {
    padding-left: 5em;
    padding-right: 5em;
    .icon-size-cards {
      width: 20px;
    }

    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 16px;
    }

    .blocksatz {
      font-size: 14px;
    }
  }

  .cards {
    display: block;
    .card {
      font-size: 14px;
      margin-bottom: 15px;
      .firmenlogo {
        width: 60%;
      }
    }
  }
  footer {
    min-height: 80px;
    padding-left: 7em;
    padding-right: 7em;
    .textFooter {
      font-size: 11px;
    }

    .floatright {
      font-size: 11px;
    }
  }

  .kastenHintergrund {
    border-style: none;
    h1 {
      font-size: 2.5em;
    }
    .infosundkontakt {
      display: block;
      .kontakt {
        display: flex;
        align-items: center;
        img {
          margin-right: 2em;
          margin-bottom: 0;
        }
      }
    }
  }
}

//HANDY-VERSION
@media screen and (max-width: 633px) {
  nav {
    margin-bottom: 8px;
    img {
      width: 40%;
    }
  }

  .MainContainer {
    padding-left: 2em;
    padding-right: 2em;

    h1 {
      font-size: 25px;
    }
    h3 {
      font-size: 14px;
    }
    .blocksatz {
      font-size: 13px;
    }
    .firmenübersicht {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .grid-suchleiste {
      display: block;
      margin-bottom: 10px;
    }
    .icon-size-map-marker {
      width: 10px;
    }
    .icon-size-clock {
      width: 12px;
    }

    .flex-end {
      img {
        margin-top: 3px;
        width: 13px;
      }
    }

    .cards {
      display: block;
      .card {
        font-size: 13px;
        margin-bottom: 15px;
        .grid {
          .left {
            width: content;
          }
        }
        .icon-size-cards {
          width: 15px;
        }
        .firmenlogo {
          width: 60%;
        }
      }
    }
  }

  footer {
    min-height: 80px;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
    .textFooter {
      font-size: 11px;
    }

    .floatright {
      font-size: 11px;
    }
  }

  .kastenHintergrund {
    border-style: none;

    h3 {
      margin-bottom: 10px;
    }

    h1 {
      display: none;
    }
    .kastenFlext {
      display: block;
    }

    .infosundkontakt {
      display: block;
      font-size: 13px;
      .kontakt {
        display: flex;
        align-items: center;
        img {
          margin-right: 2em;
          margin-bottom: 0;
        }
      }
    }

    .emailundwebsitelink {
      display: block;
      h4 {
        color: var(--textColor);
        font-size: 13px;
      }
      .webseitelink {
        margin-top: 10px;
        a {
          font-size: 13px;
        }
      }
    }
  }
}
