html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "OpenSans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: url("../svg/Gruppe 4.svg") 1006px -225px no-repeat;
  background-size: 50%;
}

* {
  box-sizing: border-box;
  font-family: "Flama";
}

:root {
  --footerColor: #3d3d3b;
  --purple: #981b53;
  --red: #cf0510;
  --red-low: #c95258;
  --cardColor: #d4d3d3;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 55px;
}

li {
  display: inline;
}

h3 {
  font-family: "Flama book";
  font-size: 19px;
  margin: 0;
  color: var(--purple);
}

p {
  margin: 0;
}

.HsrmLogo {
  width: 20%;
}

h1 {
  font-family: "Flama medium";
  font-size: 35px;
  text-transform: uppercase;
  color: var(--red);
  margin: 0;
  padding-bottom: 10px;
}

.icon-size {
  width: 1.5%;
}

.icon-size-cards {
  width: 13%;
}

.logo-size {
  max-width: 40%;
}

.blocksatz {
  width: 60em;
  margin-top: 1.5em;
  margin-bottom: 5.5em;
  word-spacing: 5px;
}

.MainContainer {
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-left: 15em;
  padding-right: 15em;
}

.cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}
.cards .card {
  background-color: var(--cardColor);
  padding: 17px;
}
.cards .card .grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cards .card .grid .left {
  justify-content: flex-start;
}
.cards .card .grid .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: min-content;
  gap: 0.5em;
  width: 40%;
}
.cards .card .icon-ausrichtung {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cards .card .link {
  margin-bottom: 10px;
}
.cards .card .text {
  margin-bottom: 10px;
}
.cards .card .flex-end {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
}

form {
  max-width: 75%;
  width: 100%;
}
form .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0 1em 0;
}
form .inputs .input-box {
  margin-bottom: 1.5em;
  width: calc(50% - 20px);
}
form .inputs .input-box .req {
  display: flex;
}
form .inputs .input-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs .nr-box {
  margin-top: auto;
  margin-bottom: 1.5em;
  width: calc(30% - 40px);
}
form .inputs .nr-box .req {
  display: flex;
}
form .inputs .nr-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs .str-box {
  margin-bottom: 1.5em;
  width: 70%;
}
form .inputs .str-box .req {
  display: flex;
}
form .inputs .str-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs .text-box {
  margin-bottom: 1.5em;
  width: 100%;
}
form .inputs .text-box .req {
  display: flex;
}
form .inputs .text-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs > *:first-child {
  width: -moz-available;
}
form .input-box label, form .nr-box label, form .str-box label, form .text-box label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .input-box ul {
  padding: 0;
}
form .input-box ul li {
  display: flex;
  justify-content: space-between;
}
form .button {
  height: 45px;
  margin: 35px 0;
  width: calc(33.3333333333% - 20px);
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: groove;
  border-color: var(--red);
  font-size: 18px;
  font-weight: 650;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--cardColor);
}
form .button input:hover {
  background: var(--red-low);
}

.inputs .input-box input, .inputs .input-box textarea, .inputs .nr-box input, .inputs .nr-box textarea, .inputs .str-box input, .inputs .str-box textarea, .inputs .text-box input, .inputs .text-box textarea {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.inputs .input-box input:focus, .inputs .input-box textarea:focus, .inputs .nr-box input:focus, .inputs .nr-box textarea:focus, .inputs .str-box input:focus, .inputs .str-box textarea:focus, .inputs .text-box input:focus, .inputs .text-box textarea:focus {
  border-color: var(--red-low);
}
.inputs .input-box textarea, .inputs .nr-box textarea, .inputs .str-box textarea, .inputs .text-box textarea {
  height: 100px;
}

@media (max-width: 1000px) {
  .MainContainer {
    max-width: 100%;
    padding-left: 10em;
    padding-right: 10em;
  }
}
@media (max-width: 670px) {
  .MainContainer {
    padding-left: 5em;
    padding-right: 5em;
  }

  form .inputs .input-box, form .inputs .nr-box, form .inputs .str-box, form .inputs .text-box, form .inputs .button {
    margin-bottom: 15px;
    width: 100%;
  }

  form .inputs {
    overflow-y: scroll;
  }

  .inputs::-webkit-scrollbar {
    width: 5px;
  }
}
footer {
  min-height: 100px;
  padding-left: 15em;
  padding-right: 15em;
  padding-top: 1em;
  margin-top: 4em;
  background: var(--footerColor);
  position: relative;
  width: 100%;
  color: white;
}
footer .float {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: grid;
  width: 100%;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
footer .float .textFooter {
  font-size: small;
}
footer .float .floatright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: small;
}
footer .float .floatright a {
  color: white;
}
footer .float .floatright a :hover {
  color: var(--red);
}

/*# sourceMappingURL=style.css.map */
