@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Flama";
  scroll-behavior: smooth;
  color: var(--textColor);
}

body {
  position: relative;
  min-height: 100%;
  background: url("../svg/Gruppe 6.svg") 1000px 0px no-repeat;
  background-size: 35%;
}

* {
  box-sizing: border-box;
  font-family: "Flama";
}

:root {
  --footerColor: #3d3d3b;
  --purple: #981b53;
  --red: #cf0510;
  --red-low: #c95258;
  --cardColor: #d4d3d3;
  --textColor: #46413c;
}

nav {
  padding: 1.5em;
  margin-bottom: 55px;
}
nav img {
  width: 20%;
}

.MainContainer {
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-left: 15em;
  padding-right: 15em;
}
.MainContainer h3 {
  font-family: "Flama book";
  font-size: 19px;
  margin: 0;
  color: var(--purple);
}
.MainContainer p {
  margin: 0;
}
.MainContainer h1 {
  font-family: "Flama light";
  font-size: 50px;
  text-transform: uppercase;
  color: var(--red);
  margin: 0;
  padding-bottom: 10px;
}
.MainContainer .icon-size-clock {
  height: 16px;
}
.MainContainer .icon-size-map-marker {
  width: 14px;
}
.MainContainer .icon-size-cards {
  width: 20px;
}
.MainContainer .blocksatz {
  max-width: 60em;
  margin-top: 1.5em;
  margin-bottom: 5.5em;
  word-spacing: 5px;
}

.grid-suchleiste {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.grid-suchleiste .firmenübersicht {
  font-size: 25px;
  color: var(--purple);
  font-family: "Flama book";
}
.grid-suchleiste .input-grid {
  display: flex;
  width: fit-content;
}
.grid-suchleiste .input-grid:hover {
  box-shadow: 0px 10px 13px -7px #000000, 0px -6px 5px -4px rgba(0, 0, 0, 0.06);
}
.grid-suchleiste .input-grid input {
  position: relative;
  display: inline-block;
  border: solid 2px var(--purple);
  color: var(--textColor);
  padding: 3px;
}
.grid-suchleiste .input-grid .lupe-container {
  padding: 3px;
  border: solid 1px var(--textColor);
  border-left: none;
  background-color: var(--purple);
}
.grid-suchleiste .input-grid .lupe-container img {
  display: block;
}

.cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}
.cards .card {
  background-color: var(--cardColor);
  padding: 17px;
}
.cards .card .grid {
  display: flex;
  margin-bottom: 10px;
}
.cards .card .grid .left {
  margin-right: auto;
}
.cards .card .grid .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: min-content;
  gap: 0.5em;
  width: 40%;
}
.cards .card .grid .right p {
  flex-shrink: 0;
}
.cards .card .icon-ausrichtung {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cards .card .link {
  margin-bottom: 10px;
}
.cards .card .link a {
  color: var(--textColor);
}
.cards .card .link a:hover {
  color: var(--purple);
}
.cards .card .text {
  margin-bottom: 10px;
}
.cards .card .flex-end {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
}
.cards .card .flex-end a {
  color: var(--textColor);
}
.cards .card .flex-end a :hover {
  color: var(--purple);
}

form {
  max-width: 75%;
  width: 100%;
}
form .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0 1em 0;
}
form .inputs .input-box {
  margin-bottom: 1.5em;
  width: calc(50% - 20px);
}
form .inputs .input-box .req {
  display: flex;
}
form .inputs .input-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs .nr-box {
  margin-top: auto;
  margin-bottom: 1.5em;
  width: calc(30% - 40px);
}
form .inputs .nr-box .req {
  display: flex;
}
form .inputs .nr-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs .str-box {
  margin-bottom: 1.5em;
  width: 70%;
}
form .inputs .str-box .req {
  display: flex;
}
form .inputs .str-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs .text-box {
  margin-bottom: 1.5em;
  width: 100%;
}
form .inputs .text-box .req {
  display: flex;
}
form .inputs .text-box .req p {
  margin-right: 0.5em;
  margin-bottom: -100%;
  color: var(--red);
  font-size: x-large;
}
form .inputs > *:first-child {
  width: -moz-available;
}
form .input-box label, form .nr-box label, form .str-box label, form .text-box label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .input-box ul {
  padding: 0;
}
form .input-box ul li {
  display: flex;
  justify-content: space-between;
}
form .button {
  height: 45px;
  margin: 35px 0;
  width: calc(33.3333333333% - 20px);
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: groove;
  border-color: var(--red);
  font-size: 18px;
  font-weight: 650;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--cardColor);
}
form .button input:hover {
  background: var(--red-low);
}

.inputs .input-box input, .inputs .input-box textarea, .inputs .nr-box input, .inputs .nr-box textarea, .inputs .str-box input, .inputs .str-box textarea, .inputs .text-box input, .inputs .text-box textarea {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.inputs .input-box input:focus, .inputs .input-box textarea:focus, .inputs .nr-box input:focus, .inputs .nr-box textarea:focus, .inputs .str-box input:focus, .inputs .str-box textarea:focus, .inputs .text-box input:focus, .inputs .text-box textarea:focus {
  border-color: var(--red-low);
}
.inputs .input-box textarea, .inputs .nr-box textarea, .inputs .str-box textarea, .inputs .text-box textarea {
  height: 100px;
}

footer {
  min-height: 100px;
  padding-left: 15em;
  padding-right: 15em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 4em;
  background: var(--footerColor);
  position: relative;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}
footer .textFooter {
  font-size: small;
}
footer .buttonandImpressum .button {
  height: 20px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 650;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--cardColor);
}
footer .buttonandImpressum .button:hover {
  background-color: var(--red-low);
}
footer .buttonandImpressum .floatright {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  font-size: small;
  width: min-content;
}
footer .buttonandImpressum .floatright a {
  text-decoration: underline;
  color: white;
}
footer .buttonandImpressum .floatright a:hover {
  color: var(--red);
}

.kastenHintergrund {
  padding: 2.5em;
  border-radius: 1em;
  border-width: 6px;
  border-color: var(--red-low);
  border-style: hidden double hidden double;
}
.kastenHintergrund .kastenFlext {
  display: flex;
  justify-content: space-between;
}

h4 {
  font-family: "Flama book";
  font-size: 15px;
  margin: 0;
  color: black;
}
h4 .frage1 {
  margin: 0%;
}

.infosundkontakt {
  display: flex;
  gap: 5em;
  height: min-content;
}

.firmenInfos {
  justify-content: flex-end;
  display: grid;
  margin: 4em 0 2em 0;
  height: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: "frage1 antwort1 antwort1" "frage2 antwort2 antwort2" "frage3 antwort3 antwort3" "frage4 frage4 frage4" "antwort4 antwort4 antwort4";
}
.firmenInfos .frage1 {
  grid-area: frage1;
}
.firmenInfos .antwort1 {
  grid-area: antwort1;
}
.firmenInfos .frage2 {
  grid-area: frage2;
}
.firmenInfos .antwort2 {
  grid-area: antwort2;
  overflow: hidden;
}
.firmenInfos .frage3 {
  grid-area: frage3;
}
.firmenInfos .antwort3 {
  grid-area: antwort3;
  overflow: hidden;
}
.firmenInfos .frage4 {
  grid-area: frage4;
  height: 1em;
}
.firmenInfos .antwort4 {
  grid-area: antwort4;
  text-align: justify;
  overflow: hidden;
}

.kontakt {
  margin-top: 4em;
  margin-bottom: 2em;
  height: max-content;
}
.kontakt img {
  width: 10em;
  margin-bottom: 2em;
}
.kontakt .kdaten {
  text-align: center;
}

.emailundwebsitelink {
  display: flex;
  justify-content: space-between;
}
.emailundwebsitelink .kemail {
  font-family: "Flama book";
}
.emailundwebsitelink .kemail a {
  color: var(--textColor);
  font-family: "Flama book";
}
.emailundwebsitelink .kemail a:hover {
  color: var(--purple);
}
.emailundwebsitelink .webseitelink a {
  font-family: "Flama book";
  font-size: 15px;
  margin: 0;
  color: var(--purple);
}

@media screen and (min-width: 947px) and (max-width: 1240px) {
  .MainContainer {
    padding-left: 7em;
    padding-right: 7em;
  }
  .MainContainer .icon-size-cards {
    width: 18px;
  }
  .MainContainer .blocksatz {
    font-size: 15px;
  }

  footer {
    padding-left: 7em;
    padding-right: 7em;
  }

  .card {
    padding: 10px;
    font-size: 15px;
  }

  .kastenHintergrund {
    border-style: none;
  }
  .kastenHintergrund h1 {
    font-size: 3em;
  }
  .kastenHintergrund .infosundkontakt {
    display: block;
  }
  .kastenHintergrund .infosundkontakt .kontakt {
    display: flex;
    align-items: center;
  }
  .kastenHintergrund .infosundkontakt .kontakt img {
    margin-right: 2em;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 633px) and (max-width: 947px) {
  nav {
    margin-bottom: 20px;
  }

  .MainContainer {
    padding-left: 5em;
    padding-right: 5em;
  }
  .MainContainer .icon-size-cards {
    width: 20px;
  }
  .MainContainer h1 {
    font-size: 30px;
  }
  .MainContainer h3 {
    font-size: 16px;
  }
  .MainContainer .blocksatz {
    font-size: 14px;
  }

  .cards {
    display: block;
  }
  .cards .card {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .cards .card .firmenlogo {
    width: 60%;
  }

  footer {
    min-height: 80px;
    padding-left: 7em;
    padding-right: 7em;
  }
  footer .textFooter {
    font-size: 11px;
  }
  footer .floatright {
    font-size: 11px;
  }

  .kastenHintergrund {
    border-style: none;
  }
  .kastenHintergrund h1 {
    font-size: 2.5em;
  }
  .kastenHintergrund .infosundkontakt {
    display: block;
  }
  .kastenHintergrund .infosundkontakt .kontakt {
    display: flex;
    align-items: center;
  }
  .kastenHintergrund .infosundkontakt .kontakt img {
    margin-right: 2em;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 633px) {
  nav {
    margin-bottom: 8px;
  }
  nav img {
    width: 40%;
  }

  .MainContainer {
    padding-left: 2em;
    padding-right: 2em;
  }
  .MainContainer h1 {
    font-size: 25px;
  }
  .MainContainer h3 {
    font-size: 14px;
  }
  .MainContainer .blocksatz {
    font-size: 13px;
  }
  .MainContainer .firmenübersicht {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .MainContainer .grid-suchleiste {
    display: block;
    margin-bottom: 10px;
  }
  .MainContainer .icon-size-map-marker {
    width: 10px;
  }
  .MainContainer .icon-size-clock {
    width: 12px;
  }
  .MainContainer .flex-end img {
    margin-top: 3px;
    width: 13px;
  }
  .MainContainer .cards {
    display: block;
  }
  .MainContainer .cards .card {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .MainContainer .cards .card .grid .left {
    width: content;
  }
  .MainContainer .cards .card .icon-size-cards {
    width: 15px;
  }
  .MainContainer .cards .card .firmenlogo {
    width: 60%;
  }

  footer {
    min-height: 80px;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
  }
  footer .textFooter {
    font-size: 11px;
  }
  footer .floatright {
    font-size: 11px;
  }

  .kastenHintergrund {
    border-style: none;
  }
  .kastenHintergrund h3 {
    margin-bottom: 10px;
  }
  .kastenHintergrund h1 {
    display: none;
  }
  .kastenHintergrund .kastenFlext {
    display: block;
  }
  .kastenHintergrund .infosundkontakt {
    display: block;
    font-size: 13px;
  }
  .kastenHintergrund .infosundkontakt .kontakt {
    display: flex;
    align-items: center;
  }
  .kastenHintergrund .infosundkontakt .kontakt img {
    margin-right: 2em;
    margin-bottom: 0;
  }
  .kastenHintergrund .emailundwebsitelink {
    display: block;
  }
  .kastenHintergrund .emailundwebsitelink h4 {
    color: var(--textColor);
    font-size: 13px;
  }
  .kastenHintergrund .emailundwebsitelink .webseitelink {
    margin-top: 10px;
  }
  .kastenHintergrund .emailundwebsitelink .webseitelink a {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
